# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Binary / large files
*.xlsx
*.pdf
*.png
*.pptx
*.docx

# Temp
*.tmp
*.bak
