.flex-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 250px;
      width: 350px;
}
.text-align{
      text-align: center;
}
